html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 90%;
}

body {
  margin-bottom: 60px;
  font-family: Arial, sans-serif;
  height: 90vh;
  background-color: #f0f0f0;
}

button {
  padding: 20px;
  font-size: 1.2em;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

main{
  height: 70vh;
  width: 100vw;
  display: flex;
  position: relative;
  justify-content: center;
}

.container-mess{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.foot{
  padding-top: 40px;
}

footer{
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}