@model List<QuizzApp.Models.Question>

<h1>Questions</h1>

@foreach (var question in Model)
{
    <div>
        <h2>@question.Text</h2>
        <ul>
            @foreach (var option in question.Options)
            {
                <li>@option</li>
            }
        </ul>
    </div>
}