@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue dans les projets de la team B</h1>
    <p>Commence ton expèrience avec 5 projets fait en c#</p>
</div>