<div class="body">
    <div class="calendar-container">
        <div class="calendar-header">
            <button id="prevMonth">«</button>
            <span id="monthYear"></span>
            <button id="nextMonth">»</button>
        </div>
    
        <div class="calendar-days">
            <div>Lun</div><div>Mar</div><div>Mer</div><div>Jeu</div><div>Ven</div><div>Sam</div><div>Dim</div>
        </div>
        <div id="calendar" class="calendar-grid"></div>
    </div>
    
<section class="detail">
    <div class="detail-header">
        <span id="date-selected"></span>
    </div>
    <div class="detail-body">
    </div>
</section>
</div>

<script src="js/calendar.js"></script>