@{
ViewData["Title"] = "Weather App";
}

<div class="weatherContainer">
    
    <input type="text" id="city" placeholder="Paris" />
    <div id="weatherResult"></div>
</div>
<button onclick="getWeather()">
    <img id="searchImg" src="search.png" alt="search image">
</button>

<link rel="stylesheet" href="/css/styles.css">

<script src="/js/weather.js"></script>
